<!-- View Object
{
    config = [config] Global config
}
-->

<!DOCTYPE html>
<html class="no-js" lang="en-US">
    <head>
        <meta charset="utf-8">
        <base href="<%= config.base %>">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title ? title+" | " : ""%> <%= config.site_title %></title>
        <link rel="stylesheet" href="styles/tidy.css" type='text/css' media='all' />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Muli%3A400%2C300&#038;subset=latin&#038;ver=4.4.2" type="text/css" media="all" />
        <%- style %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <a href="#content" class="sr-only">Skip to main content</a>

        <!-- HEADER -->
        <header id="banner-header" class="banner navbar navbar-default topnavbar navbar-static-top" role="banner">
            <div class="container">

                <!-- LOGO -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="">
                        <h2><%= config.site_title %></h2>
                    </a>
                    <% if (session.userId) { %>
                    <form role="search" method="get" id="searchform" class="form-search navbar-form" action="search">
                        <i class="fa fa-search"></i>
                        <label class="hide" for="s">Search for:</label>
                        <input type="text" value="" name="s" id="autocomplete-ajax" class="searchajax form-control search-query" placeholder="Search Knowledge Base">
                    </form>
                    <div class="navbar-right">
                        <a href="/logout" class="navbar-link">Logout</a>
                    </div>
                    <% } %>
                </div>
            </div>
        </header>

        <%- body %>

        <!-- FOOTER -->
        <!-- Hiding the button from the layout
        <div class="footer-cta">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <a href="new" class="btn btn-primary" id="singlebutton">Create New Document</a>
                    </div>
                </div>
            </div>
        </div>
      -->
        <footer id="page-footer " class="content-info " role="contentinfo ">
            <div class="container ">
                <div class="clearfix "></div>
                <div id="footer-copyright">
                    <div class="row">
                        <div id="copyright-bar">© 2016 Developed By WMK.IO</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </footer>

        <%- script %>
    </body>
</html>
