<!-- View Object
{
    title = [string] Current title,
    popularSearches = [array] Collection of popular searches,
    recentDocuments = [array] Collection of recent documents,
    randomDocuments = [array] Collection of random documents,
    popularDocuments = [array] Collection of popular documents,
    siteSections = [array] Collection of site sections as defined in config,
    config = [config] Global config
}
-->

<!-- MAIN CONTENT HEAD -->
<div class="before-main-wrapper">
    <div class="header-wrapper">
        <div class="container header-center">
            <div class="header-sidebar">
                <div class="widget clearfix">

                </div>
            </div >
        </div >
    </div >
</div >

<!-- MAIN CONTENT -->
<div class="container wrap main-section" id="wrap-main-section">
    <div id="content" class="content">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 card">
            <div class="card-body">
                <form method="POST" action="/login">
                    <div class="input-group">
                        <input type="text" class="form-control form-group" name="email" placeholder="Email" style="margin-bottom: 6px;"/>
                        <input type="password" class="form-control" name="password" placeholder="Password" style="margin-bottom: 6px;"/>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.wrap -->
