/*** uncss> filename: app/themes/default/public/styles/main.css ***/

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/** {
    outline: 1px solid red;
}*/

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

article,
aside,
footer,
header,
main,
section {
  display: block;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

button,
input,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button,
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .navbar {
    display: none;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #6b757c;
  background-color: #fff;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #2196f3;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #111;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

h1,
h2,
h3,
h4 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  margin: 0 0 10px;
}

.text-center {
  text-align: center;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-sm-4,
.col-sm-8,
.col-sm-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-sm-4,
  .col-sm-8,
  .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="search"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-control {
  display: block;
  width: 100%;
  height: 42px;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #555;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: all border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s ease;
  -o-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease;
  transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control::-moz-placeholder {
  color: #777;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #777;
}

textarea.form-control {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: none;
}

.form-group {
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:focus,
.btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}

.btn:active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #555;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #363636;
}

.btn-default:active {
  background-image: none;
}

.btn-primary {
  color: #fff;
  background-color: #2196f3;
  border-color: #2196f3;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: #0c7cd5;
  border-color: #0b76cc;
}

.btn-primary:active {
  background-image: none;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  color: #fff;
  background-color: #449d44;
  border-color: #419641;
}

.btn-success:active {
  background-image: none;
}

.btn-danger {
  color: #fff;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  color: #fff;
  background-color: #ff272e;
  border-color: #ff1d24;
}

.btn-danger:active {
  background-image: none;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.input-group-btn,
.input-group .form-control {
  display: table-cell;
}

.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group .form-control:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group-btn:last-child>.btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.input-group-btn>.btn {
  position: relative;
}

.input-group-btn>.btn:hover,
.input-group-btn>.btn:focus,
.input-group-btn>.btn:active {
  z-index: 2;
}

.input-group-btn:last-child>.btn {
  margin-left: -1px;
}

.navbar {
  position: relative;
  min-height: 60px;
  margin-bottom: 0;
  border: 1px solid transparent;
}

@media (min-width: 992px) {
  .navbar {
    border-radius: 0;
  }
}

@media (min-width: 992px) {
  .navbar-header {
    float: left;
  }
}

.container>.navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 992px) {
  .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}

@media (min-width: 992px) {
  .navbar-static-top {
    border-radius: 0;
  }
}

.navbar-brand {
  float: left;
  padding: 20px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 60px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

@media (min-width: 992px) {
  .navbar>.container .navbar-brand {
    margin-left: -15px;
  }
}

.navbar-form {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  margin-top: 9px;
  margin-bottom: 9px;
}

@media (min-width: 768px) {
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}

@media (min-width: 992px) {
  .navbar-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.navbar-default {
  background-color: #fff;
  border-color: #e4e4e4;
}

.navbar-default .navbar-brand {
  color: #555;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #3c3c3c;
  background-color: transparent;
}

.navbar-default .navbar-form {
  border-color: #e4e4e4;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.row:after,
.navbar:after,
.navbar-header:after {
  clear: both;
}

.pull-right {
  float: right !important;
}

.hide {
  display: none !important;
}

@-ms-viewport {
  width: device-width;
}

.btn:focus,
.btn:active:focus {
  outline: none;
}

.btn-default:hover {
  background: #222;
}

html {
  overflow-x: hidden;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

input[type="text"],
textarea,
input[type="text"]:focus,
textarea:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

a {
  -webkit-transition: all .04s linear;
  -o-transition: all .04s linear;
  transition: all .04s linear;
}

.main-section {
  margin-top: 80px;
}

.list-post {
  line-height: 1.4em;
  margin-bottom: 15px;
}

.navbar-default {
  border: none;
  min-height: 70px;
}

.navbar-brand {
  line-height: 30px;
}

.navbar #searchform {
  border: 0;
  padding: 0;
}

.navbar-form {
  margin: 0;
}

.navbar-form .form-control {
  height: 70px;
  width: 100%;
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-form .form-control:focus {
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-form {
  position: relative;
}

.navbar-form input:-moz-placeholder {
  opacity: 0.5;
}

.navbar-form input::-moz-placeholder {
  opacity: 0.5;
}

.navbar-form input:-ms-input-placeholder {
  opacity: 0.5;
}

.navbar a.navbar-brand {
  max-width: inherit !important;
}

.topnavbar {
  z-index: 1000;
}

.header-wrapper .live-search .form-control {
  border: none;
}

@media (min-width: 768px) {
  .header-wrapper .live-search .input-group>.form-control,
  .header-wrapper .live-search .input-group>.input-group-btn>.btn {
    height: 65px;
    font-size: 16px;
  }

  .header-wrapper .live-search .input-group-btn .btn {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 992px) {
  .header-wrapper .live-search {
    width: 75%;
  }

  .header-center .live-search {
    margin: 0 auto;
  }
}

.header-wrapper {
  position: relative;
  overflow: hidden;
}

.header-wrapper:before {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.header-wrapper:after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}

.header-wrapper .container {
  position: relative;
}

.header-wrapper .header-center {
  text-align: center;
}

.header-titles h1 {
  line-height: 1.5em;
  margin: 0;
}

.header-sidebar {
  margin-top: 45px;
}

.header-sidebar .widget-title {
  display: none;
}

@media (min-width: 1200px) {
  .header-titles h1 {
    font-size: 48px;
  }
}

aside>section>h3 {
  margin-top: 10px;
}

.widget ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

aside .widget {
  margin-bottom: 50px;
}

aside .widget h3 {
  margin: 0 0 20px;
}

.footer-cta {
  padding: 65px 0;
}

.content-info {
  font-size: 0.9em;
  /*padding-top: 80px;*/
  padding-bottom: 20px;
  margin-top: 24px;
}

#footer-copyright {
  margin-top: 45px;
  text-align: center;
}

#copyright-bar {
  font-size: 0.8em;
}

.pa-post-format {
  padding-left: 1.9em;
}

.pa-post-format i {
  margin-left: -2.1em;
}

.entry-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.entry-summary,
.entry-content {
  margin-bottom: 1.6em;
}

.content img {
  max-width: 100%;
}

.content .btn:hover i {
  color: #fff !important;
}

.toc {
  line-height: 1.4em;
  font-size: 0.8em;
  padding: 1.4em 1.6em .8em;
  margin: 0 0 2em 0;
  border: solid 1px #f1f1f1;
  background-color: #f8f8f8;
  border-radius: 2px;
  list-style: none;
}

.knowledge-base-row {
  margin-bottom: 55px;
}

.knowledge-base-row h2 {
  margin: 0 0 20px;
}

.knowledge-base-row ul {
  list-style: none;
  padding-left: 0;
}

.knowledge-base-row li a {
  color: #222;
}

@media (min-width: 992px) {
  .toc {
    float: right;
    max-width: 40%;
    margin: 0 0 1em 1.3em;
  }
}

body {
  position: relative;
}

.before-main-wrapper .header-wrapper .top-searches {
  margin: 25px 0 0;
  font-size: 13px;
}

.before-main-wrapper .header-wrapper .top-searches a:hover {
  opacity: 0.75;
}

/*** uncss> filename: app/themes/default/public/styles/custom.css ***/

.content-info {
  background: #111111;
}

.content a:hover {
  color: #000000;
}

.btn-primary:hover {
  background-color: #000000!important;
  border-color: #000000!important;
}

.footer-cta {
  margin-top: 50px;
}

body .before-main-wrapper .header-wrapper a,
body .before-main-wrapper .header-wrapper h1,
body .before-main-wrapper .header-wrapper h3 {
  color: #ffffff;
}

body .before-main-wrapper .header-wrapper {
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.before-main-wrapper .header-wrapper:after {
  background-image: url("../media/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.before-main-wrapper .header-wrapper:after {
  background-position: center center;
  background-attachment: scroll;
}

.header-wrapper:before {
  background-color: rgba(5, 14, 19, 0.55);
}

.navbar {
  color: #353535;
}

.navbar-form {
  float: left;
  margin-left: 18px;
}

@media (min-width: 768px) {
  .navbar-form {
    margin-left: 40px;
  }
}

.navbar-form .form-control {
  display: inline;
  color: #353535;
  font-size: 14px;
  width: 300px;
}

.navbar-form:before {
  font-size: 14px;
}

.navbar-form input:-moz-placeholder {
  color: #353535;
  font-size: 14px;
}

.navbar-form input::-moz-placeholder {
  color: #353535;
  font-size: 14px;
}

.navbar-form input:-ms-input-placeholder {
  color: #353535;
  font-size: 14px;
}

.navbar-link {
    display: inline-block;
    height: 70px;
    line-height: 70px;
    padding-left: 12px;
    padding-right: 12px;
}

.navbar-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.navbar-right {
    position: absolute;
    right: 0px;
}

a {
  color: #282828;
}

article a {
  text-decoration: underline;
  font-weight: bold;
}

.btn-primary {
  background-color: #282828;
  border-color: #282828;
}

input[type="text"]:focus,
textarea:focus,
.form-control:focus {
  border-color: #282828;
}

a:hover {
  color: #000000;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #000000;
  border-color: #000000;
}

.btn {
  border-radius: 1px;
}

.form-control {
  border-radius: 1px;
}

.toc {
  border-radius: 1px;
}

.navbar {
  background-color: #ffffff;
}

.navbar {
  font-family: Muli;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.footer-cta {
  background-color: #f5f5f5;
}

.footer-cta {
  color: #181818;
}

.content-info {
  color: #8C8989;
}

body {
  background-color: #ffffff;
}

body {
  font-family: Muli;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: Muli;
  font-weight: 400;
  font-style: normal;
}

.header-titles h1 {
  font-family: Muli;
  font-weight: 300;
  font-style: normal;
  font-size: 32px;
}

.navbar a.navbar-brand h2 {
  margin: auto;
}

textarea {
  width: 100%;
  margin: 0px;
  height: 400px;
}

h1.page-title {
  display: inline;
}

/*** uncss> filename: https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css ***/

/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

.pull-right {
  float: right;
}

.fa-search:before {
  content: "\f002";
}

.fa-pencil:before {
  content: "\f040";
}

.fa-file-text:before {
  content: "\f15c";
}

/*** uncss> filename: http://fonts.googleapis.com/css?family=Muli%3A400%2C300&subset=latin&ver=4.4.2 ***/

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: local('Muli Light'), local('Muli-Light'), url(http://fonts.gstatic.com/s/muli/v7/zR-6QGMCFX5j-6nbH_HpIQ.ttf) format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url(http://fonts.gstatic.com/s/muli/v7/BfQP1MR3mJNaumtWa4Tizg.ttf) format('truetype');
}


.kb-section {
  text-align: center;
  /*display: inline-block;*/
  border: 1px solid #e0e0e0;
  padding: 25px;
  margin-top: 10px;
  cursor: pointer;
  vertical-align: top;
}

.kb-section .description {
  font-size: 14px;
  line-height: 20px;
  padding-left: 20px;
  padding-right: 20px;

  display: block;
}

.kb-section .link {
  font-size: 14px;
  text-decoration: underline;
  padding-top: 20px;

  display: block;
}
